# Directorios de dependencias
/node_modules
/vendor

# Archivos de construcción
/bin

# Archivos de entorno
.env
.env.local
.env.*.local

# Archivos de registro
*.log

# Archivos temporales
*.tmp
*.swp

# Archivos de IDE y editores
.vscode/

# Archivos de caché
.cache/

# Ignorar el contenido de html-templates y invoices
html-templates/*
invoices/*

#Manteniene las carpetas en el repositorio pero vacías:
!html-templates/.gitkeep
!invoices/.gitkeep

# Otros
*.bak
*.zip
*.tar.gz